<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyseckill.mapper.SeckillOrderMapper">

    <resultMap id="BaseResultMap" type="SeckillOrder">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="goodsId" column="goods_id"/>
    </resultMap>

    <delete id="delete" parameterType="Long">
        delete from seckill_order
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="SeckillOrder">
        insert into seckill_order (user_id, order_id, goods_id)
        values (#{userId},#{orderId},#{goodsId})
    </insert>

    <insert id="insertSelective" parameterType="SeckillOrder">
        insert into seckill_order
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="userId != null">
                user_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="userId != null">
                #{userId},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
            <if test="goodsId != null">
                #{goodsId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="SeckillOrder">
        update seckill_order
        set
        user_id = #{userId},
        order_id = #{orderId},
        goods_id = #{goodsId}
        where id = #{id}
    </update>

    <update id="updateSelective" parameterType="SeckillOrder">
        update seckill_order
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="querySeckillOrderById" parameterType="Long" resultMap="BaseResultMap">
        select * from seckill_order
        where id = #{id}
    </select>

    <select id="querySeckillOrderByUserIdAndGoodsId" parameterType="Long" resultMap="BaseResultMap">
        select * from seckill_order
        where user_id = #{userId} and goods_id = #{goodsId}
    </select>

</mapper>
