<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyseckill.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="password" column="password"/>
        <result property="head" column="head"/>
        <result property="loginCount" column="login_count"/>
        <result property="registerDate" column="register_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
    </resultMap>

    <select id="queryUserByPhoneAndPassword" resultMap="BaseResultMap" parameterType="String">
        select * from user
        where phone = #{phone} and password = #{password}
    </select>

    <select id="checkPhone" resultMap="BaseResultMap" parameterType="String">
        select * from user
        where phone = #{phone}
    </select>

    <insert id="insert" parameterType="User">
        insert into user (user_name, phone, password, salt, head, login_count, register_date, last_login_date)
        values (#{userName}, #{phone},#{password}, #{salt},#{head}, #{loginCount},
        #{registerDate}, #{lastLoginDate})
    </insert>
</mapper>
